@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: #0e1116;
}

body {
  margin: 0;
  min-height: 100vh;
}

.glass {
  @apply bg-canvas-accent/80 backdrop-blur-lg border border-white/5 shadow-xl;
}
